<script id="testcodeViewTmpl" type="text/x-underscore-template">
	<div id="dialog" title="Basic dialog" >
		<div id="codeView">
			<div id="mainStuff">
				<textarea id="codeArea" ><%= content %></textarea>
			</div>
			<div id="errorConsole" class="well" ></div>
		</div>
		<!--<div class="modal-footer">
		</div>-->
	</div>
</script>
