<script id="fileCodeTmpl" type="text/x-underscore-template">
	<div id="codeArea" class="codeEditorBlock"><%= content %></div>
	<div id="infoFooter" style="height:20px">Line: 0 Column: 0</div>
</script>
