<script id="projectBrowserTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3><%=operation%> project</h3>
	</div>
	<div class="modal-body" style="overflow: hidden">
		<div id="fileNameInput">
			<label for="name" >Name:</label>
			<input id="fileName" type="text" style="width:90%" value="<%=name%>" />
		</div>
		<div id="storesContainer">
			<div id="projectStores" style="float:left; width: 30%"><!--storage types browser-->
				Location
			</div>
			<div id="projectFiles"  style="float:left; width: 40%">
				<table class="table table-hover table-condensed">
					<thead><th>Name</th><th>Type</th></thead>
			    	<tbody id="projectFilesList"></tbody>
			  	</table>
			</div>
			<div id="thumbNail" style="float:left; width:30%;background-color:  #262626;" class="hide">
				<img id="projectThumbNail" class="img-rounded"/>
			</div>
		</div>
		
		<!--
		<div id="typeFilter" style="float:left; width: 100%">
			<select id="typeFilterSelect">
			  <option value="coffeescad">Coffeescad Designs</option>
			</select>
		</div>-->
		<div id="errorConsole" class="alert hide">
			<h4 class="alert-heading">Oh snap! You got an error!</h4>
			Errors
		</div>
		<div id="opertationProgress" class="progress progress-striped active hide">
			<div class="bar" style="width: 100%;"></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button id="validateOperationBtn" class="btn btn-primary <%=operation%>Project"><%=operation%></button>
	</div>
</script>


<script id="projectStoreListTmpl" type="text/x-underscore-template">
	<div class="accordion" id="accordion" >
	</div>
</script>

<script id="projectStoreTmpl" type="text/x-underscore-template">
	<div class="accordion-group" id="<%=name%>StoreContent">
	 	<div class="accordion-heading store-header" >
	 		<a class="accordion-toggle"> <!--data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
				<%= storeType %> <i class="icon-question-sign icon-large" rel="tooltip" title="<%=tooltip%>"></i> 
				<span class="storeConnection pull-right" rel="tooltip" title="Store not connected, please sign in">
					<i class="icon-ban-circle icon-large" style="color:#FF0000"></i>
				</span>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner storeProjectsList" ><!--style="overflow:auto;max-height: 150px">-->
				<ul id="projects">
				</ul>
			</div>
		</div>
	</div>
	<div id="<%=name%>ProjectContextMenu">
      <ul class="dropdown-menu" role="menu">
          <li><a tabindex="-1" href="#" class="deleteProject"><i class="icon-remove"></i>Delete</a></li>
          <li><a tabindex="-1" href="#" class="renameProject"><i class="icon-edit"></i>Rename</a></li>
      </ul>
    </div>
</script>

<script id="projectFileListTmpl" type="text/x-underscore-template">
</script>

<script id="projectFileTmpl" type="text/x-underscore-template">
	<%=name%>    <%=ext>
</script>