<script id="projectBrowserTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3><%=operation%> project</h3>
	</div>
	<div class="modal-body">
		<div id="fileNameInput">
			<label for="name" >Name:</label>
			<input id="name" type="text" style="width:90%" value="<%=name%>" />
		</div>
		<div>
			<div id="projectStores" style="float:left; width: 30%"><!--storage types browser-->
				Location
			</div>
			<div id="projectFiles"  style="float:left; width: 50%">
				Files
			</div>
			<div id="thumbNail" style="float:left; width:20%">
				Thumbnail
				<img src="toto.png" width="320" height="240"/>
			</div>
		</div>
		
		<!--
		<div id="typeFilter" style="float:left; width: 100%">
			<select id="typeFilterSelect">
			  <option value="coffeescad">Coffeescad Designs</option>
			</select>
		</div>-->
		<div id="errorConsole" style="visibility:hidden">
			Errors
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button class="btn btn-primary <%=operation%>Project"><%=operation%></button>
	</div>
</script>

<script id="projectStoreListTmpl" type="text/x-underscore-template">
	<div class="accordion" id="accordion">
		
	</div>
</script>

<script id="projectStoreTmpl" type="text/x-underscore-template">
	<div class="accordion-group">
	 	<div class="accordion-heading" >
	 		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<%= storeType %>
				<input type="checkbox" value="bla"/>
			</a>
			
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner" >
				<ul id="projects">
				</ul>
			</div>
		</div>
	</div>
</script>
