<script id="bomExporterTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3 id="myModalLabel"><i class="icon-cogs icon-large"></i> Bom Export</h3>
	</div>
	<div class="modal-body">
		<div id="partsList"></div>
		<form>
			 <label for="fileName">FileName</label>
			<input id="fileNameinput" type="text" name="fileName" value="<%= name %>.json"/>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<a id="bomExportBtn" class="btn btn-primary exportBom">Export</a>
	</div>
</script>