<script id="bomPartTmpl" type="text/x-underscore-template">
      <td><%=name%></td>
      <td><input type="text" size="30" maxlength="30" style="width: 100px;" value="<%=variant%>"/></td>
      <td><%=params%></td>
      <td><input type="checkbox" <% if (manufactured) { %>checked="checked"<% } %> /></td>
      <td><input id="quantity" type="number" name="quantity" min="1" max="5" value="<%=quantity%>"></td>
      <td><input type="checkbox" <% if (included) { %>checked="checked"<% } %> /></td>
</script>
<!--template for a single entry in the bom exporter view-->