<script id="3dViewTmpl" type="text/x-underscore-template">
	<div id="glArea" style="position: absolute;top:0px"> </div>
	<div id="glOverlay" style="position: absolute;bottom: 0px; left:10px "></div>
	<div id="overlay" class="navbar  active"  style="position: absolute;">
		<!--
		<a href="#" rel="tooltip" title="show/hide grid" class="toggleGrid uicons"><i class="icon-table icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="show/hide axes" class="toggleAxes uicons"><i class="icon-plus icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="toggle shadows" class="toggleShadows uicons"><i class="icon-adjust icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="toggle anti aliasing" class="toggleAA uicons"><i class="icon-barcode icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="auto update view <b>on script change</b> <br\>(can get slow for complex scripts)" class="toggleAutoUpdate uicons"><i class="icon-time icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="view settings" class="viewSettings uicons"><i class="icon-eye-open icon-large"></i></a>
		-->
	</div>
	<script>
	/*Just tinkering:
	 * top: 500px; left: 900px
	 *See:  https://github.com/mrdoob/three.js/issues/634
	 var background = document.createElement( 'canvas' );
	background.style.position = 'absolute';
	background.context = background.getContext( '2d' );
	background.context.fillStyle = 'rgba(255,0,0,0.5)';
	background.context.fillRect( 0, 0, background.width, background.height );
	container.appendChild( background );
	
	var foreground = document.createElement( 'canvas' );
	foreground.style.position = 'absolute';
	foreground.context = foreground.getContext( '2d' );
	foreground.context.fillStyle = 'rgba(0,0,255,0.5)';
	foreground.context.fillRect( 0, 0, foreground.width, foreground.height );
	container.appendChild( foreground );*/
	</script>
</script>