//loader
.initalLoaderOverlay
{
  text-align:center;
  width:100%;
  height:100%;
  position:fixed;
  left: 0;
  top:30%;
}

.loaderContentOverlay
{
  opacity:    0.5; 
    background: #000; 
  color: #FFFFFF;
  text-align:center;
  width:100%;
  height:100%;
  z-index: 99999;
  position:fixed;
    top: 30px;/*SAME AS NAVBAR*/
    left: 0;
}