/**/
//
//Param editor
// --------------------------------------------------


.paramsEditor
{
  padding: 20px;
  .form-horizontal
  {
    .control-label {
      width: 80px;
     }
      .controls
    {
      margin-left: 100px;
    }
  }
}

.parametrizer-form-horizontal
{
  .form-horizontal;
  .control-label {
    float: left;
    width: 30px;
    padding-top: 5px;
    text-align: right;
  }
  .controls
  {
    margin-left: 100px;
  }
  
}
