/*3d viewer*/
#visual
{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /*display: inline-block;
  top:30px;*/
}

#glOverlay
{
position:absolute;
   bottom:0;
   height:255px;
}

#overlay
{
  position:absolute; right:20px;top:50%;
}