<script id="contentTmpl" type="text/x-underscore-template">
	<div id="menu"> Test
		<a href="#" class="listDummies">List dummies</a>
		<a href="#" class="newDummy">New dummy</a>
		<a href="#" class="deleteDummy">Delete dummy</a>
	</div>
</script>