<script id="projectBrowserTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3><%=operation%> project</h3>
	</div>
	<div class="modal-body" style="overflow: hidden">
		<div id="fileNameInput">
			<label for="name" >Name:</label>
			<input id="fileName" type="text" style="width:90%" value="<%=name%>" />
		</div>
		<div id="storesContainer">
			<div id="projectStores" style="float:left; width: 20%"><!--storage types browser-->
				Location
			</div>
			<!--
			<div id="projectFiles"  style="float:left; width: 40%">
				<table class="table table-hover table-condensed">
					<thead><th>Name</th><th>Type</th></thead>
			    	<tbody id="projectFilesList"></tbody>
			  	</table>
			</div>-->
			<div id="projectsContainer"   style="float:left; width: 80%">
				<ul id="projects" style="list-style: none; height: 400px">
				</ul>
			</div>	
				<!--
				<div>
					<a href="#">
						<i class="icon-folder-open icon-extraLarge"></i> Bla bla
					</a>
				</div>-->
			
			<div id="thumbNail" style="float:left; width:30%" class="hide">
			<!--background-color:  #262626;-->
				<img id="projectThumbNail" class="img-rounded"/>
			</div>
		</div>
		
		<!--
		<div id="typeFilter" style="float:left; width: 100%">
			<select id="typeFilterSelect">
			  <option value="coffeescad">Coffeescad Designs</option>
			</select>
		</div>-->
		<div id="errorConsole" class="alert hide">
			<h4 class="alert-heading">Oh snap! You got an error!</h4>
			Errors
		</div>
		<div id="opertationProgress" class="progress progress-striped active hide">
			<div class="bar" style="width: 100%;"></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button id="validateOperationBtn" class="btn btn-primary <%=operation%>Project"><%=operation%></button>
	</div>
</script>


<script id="projectStoreListTmpl" type="text/x-underscore-template">
</script>

<script id="projectStoreTmpl" type="text/x-underscore-template">
	<table class="table table-bordered table-condensed store" id="<%=name%>StoreContent" >
		<thead class="store-header">
			<tr>
				<th>
					<a>
						<%= storeType %> 
						&nbsp; &nbsp;
						<i class="icon-question-sign icon-large" rel="tooltip" title="<%=tooltip%>"></i>
					</a>
				</th>
				<th class="icons-group" style="border-left: none"><!--TODO: why does it work in style but not css /less ???-->
					<% if (loggedIn == false) { %>
					<span class="storeConnection pull-right" >
						<i class="icon-ban-circle icon-large" rel="tooltip" title="Store not connected, please sign in" style="color:#FF0000"></i>
					</span>
					<% } %>
				</th>
			</tr>
		</thead>
		<!--
		<tbody>
			<tr>
				<td colspan="2" class="storeProjectsList">
					<ul id="projects">
					</ul>
				</td>
			</tr>
		</tbody>-->
	</table>
	<div id="<%=name%>ProjectContextMenu">
      <ul class="dropdown-menu" role="menu">
          <li><a tabindex="-1" href="#" class="deleteProject"><i class="icon-remove"></i>Delete</a></li>
          <li><a tabindex="-1" href="#" class="renameProject"><i class="icon-edit"></i>Rename</a></li>
      </ul>
    </div>
</script>

<script id="projectFileListTmpl" type="text/x-underscore-template">
</script>

<script id="projectFileTmpl" type="text/x-underscore-template">
	<%=name%>    <%=ext>
</script>

<script id="projectListTmpl" type="text/x-underscore-template">
	
</script>

<script id="projectTmpl" type="text/x-underscore-template">
	<li class='projectBlock'>
	  <div class="flip">
	    <div class="front">
	      <a id='#{@model.name}#{name}' class='projectSelector' href='#' data-toggle='context' data-target='##{@model.name}ProjectContextMenu'>#{name}</a>
	    </div>
	    <div class="back">
	      Some text here
	    </div>
	  </div>
 	</li>
</script>