<script id="projectBrowserTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3><%=operation%> project</h3>
	</div>
	<div class="modal-body" style="overflow: hidden">
		<div id="fileNameInput">
			<label for="name" >Name:</label>
			<input id="fileName" type="text" style="width:90%" value="<%=name%>" />
		</div>
		<div class="storesList">
		
		</div>
		<div class="filesList">
		</div>
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button id="validateOperationBtn" class="btn btn-primary <%=operation%>Project"><%=operation%></button>
	</div>
</script>


<script id="projectStoreListTmpl" type="text/x-underscore-template">
	<div class="accordion" id="accordion" >
	</div>
</script>

<script id="projectStoreTmpl" type="text/x-underscore-template">
	<div class="accordion-group" id="<%=name%>StoreContent">
	 	<div class="accordion-heading store-header" >
	 		<a class="accordion-toggle"> <!--data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
				<%= storeType %> <i class="icon-question-sign icon-large" rel="tooltip" title="<%=tooltip%>"></i> 
				<span class="storeConnection pull-right" rel="tooltip" title="Store not connected, please sign in">
					<i class="icon-ban-circle icon-large" style="color:#FF0000"></i>
				</span>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner storeProjectsList" ><!--style="overflow:auto;max-height: 150px">-->
				<ul id="projects">
				</ul>
			</div>
		</div>
	</div>
</script>

<script id="projectFileListTmpl" type="text/x-underscore-template">
</script>

<script id="projectFileTmpl" type="text/x-underscore-template">
	<%=name%>    <%=ext>
</script>