<script id="fileTabTmpl" type="text/x-underscore-template">
	<% var cleanedName = name.replace('.','\\.')%>
	<a href="#" data-toggle="tab" tabindex="-1">
       <span name="fileName"></span>
       <i class="closeFile icon-remove"></i>
    </a>
</script>
