<script id="fileTabTmpl" type="text/x-underscore-template">
	<% var cleanedName = name.replace('.','\\.')%>
	<a href="#" data-toggle="tab">
       <span name="fileName">Home</span>
       <i class="closeFile icon-remove"></i>
    </a>
</script>
