<script id="fileTabTmpl" type="text/x-underscore-template">
	<% var cleanedName = name.replace('.','\\.')%>
	<a href="#<%=cleanedName%>" data-toggle="tab"><%=name%>.<%=ext%>&nbsp&nbsp<em class="close">&times;</em></a>
</script>
