<script id="fileTmpl" type="text/x-underscore-template">
	<a class="openFile"><i class="icon-file"></i><%= name %>.<%= ext %></a>
</script>


<script id="rootTmpl" type="text/x-underscore-template">
	<h5><%= name %></h5>
</script>