<script id="toolBarViewTmpl" type="text/x-underscore-template">
	<div class="row toolBar" >
		<div class="span1">
			<div class="row-fluid">
				<a href="#">
					<div class="span6 pagination-centered newFile" rel='tooltip' title="Create">
						<i class="icon-plus icon-large"></i> 
					</div>
				</a>
			</div>
			<div class="row-fluid">
				<a href="#">
					<div class="span6 pagination-centered deleteFile" rel='tooltip' title="Delete">
						<i class="icon-minus icon-large"></i> 
					</div>
				</a>
			</div>
			<div class="row-fluid">
				<a href="#">
					<div class="span6 pagination-centered renameFile" rel='tooltip' title="Rename">
						<i class="icon-edit icon-large"></i> 
					</div>
				</a>
			</div>
		</div>
	</div>
</script>
