<script id="bomPartTmpl" type="text/x-underscore-template">
	<table class="table table-condensed table-bordered">
		<caption>Parts</caption>
		  	<thead>
		    	<tr>
			      <th>Part Name</th>
			      <th>Part Variant</th>
			      <th>Part Params</th>
			      <th>Number</th>
			      <th>Include</th>
		    	</tr>
		  	</thead>
		  <tbody>
		  </tbody>
	</table>
</script>