<script id="codeEditorTmpl" type="text/x-underscore-template">
	<div id="codeView">
		<div id="mainStuff">
			<textarea id="codeArea" ><%= content %></textarea>
		</div>
		<!--<div id="errorConsole" class="well" ></div>-->
	</div>
</script>
