<script id="dialogTmpl" type="text/x-underscore-template">
    <div class="dialog-header unselectable">
    	<i class="icon-edit pull-left">&nbsp;</i>
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<button type="button" class="minimize" data-toggle="collapse" data-target="#contentContainer" aria-hidden="true" >-</button>
    	<button type="button" class="config" aria-hidden="true" ><i class="icon-cog"></i>&nbsp;</button>
      <h5><%=title%></h5>
    </div>
    <div class="unselectable collapse in" id="contentContainer">
    </div>
    <!--
    <div class="ui-resizable-handle ui-resizable-e"></div>
    <div class="ui-resizable-handle ui-resizable-s"></div>
    <div class="ui-resizable-handle ui-resizable-se" style="z-index: 1001;"></div>-->
</script>


	