<script id="mainMenuTmpl" type="text/x-underscore-template">
	<div  class="navbar navbar-fixed-top" style="padding-bottom: 0px">
		<div class="navbar-inner" style="height: 15px; padding-top: 0px">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
			     <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li >
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">File
                      		<b class="caret"></b>
                      	</a>
                      	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    		<li id ="newFileBtn" class="newFile"><a tabindex="-1" href="#"><i class="icon-file"></i>New</a></li>
                      		<li id ="saveFileBtn" class="saveFile"><a tabindex="-1" href="#"><i class="icon-save"></i>Save</a></li>
				    			<li id ="saveFileAsBtn" class="saveFileAs"><a tabindex="-1" href="#"><i class="icon-save"></i>Save As</a></li>
				    			<li id ="loadFileBtn" class="loadFile"><a tabindex="-1" href="#"><i class="icon-file"></i>Load</a></li>
				    			<li class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-file"></i>Recent</a>
				    				<ul id="recentProjects" class="dropdown-menu"></ul>
				    			</li>
				    			<li class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-list-ul"></i>Examples</a>
				    				<ul id="examples" class="dropdown-menu"></ul>
				    			</li>
		                       	
		                        <li class="divider"></li>
		                        <li id ="importBtn" class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-download-alt"></i>Import</a>
				    				<ul class="dropdown-menu">
                    					<li><a href="#" class="btn disabled"><i class="icon-download disabled"></i> Openscad</a></li>
				    				</ul>
				    			</li>
		                        <li id ="exportBtn" class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-upload-alt"></i>Export</a>
				    				<ul id="exporters" class="dropdown-menu"></ul>
				    			</li>
                      	</ul>
                      </li>
                     <li class="dropdown">
                     	<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Edit">
                     	Edit
                     	<b class="caret"></b>
                     	</a>
                     	<ul class="dropdown-menu">
                     		<li><a href="#"><i class="icon-undo"></i>Undo</a></li>
                     		<li><a href="#"><i class="icon-repeat"></i>Undo</a></li>
                     	</ul>
                     </li>
                     <li>
                     	<a id="" class="" href="#" rel="tooltip" title="Tools">Tools</a>
                     </li>
                     <li>
                   		<a class="settings" href="#" rel="tooltip" title="Settings">Settings</a>
                     </li>
                     <li class="dropdown">
                     	<a href="#" class="dropdown-toggle" data-toggle="dropdown"  rel="tooltip" title="Help">
                     		Help
                      		<b class="caret"></b>
                      	</a>
                     	<ul class="dropdown-menu" >
                     		<li class="dropdown-submenu">
				    			<a href="#">Learning</a>
				    			<ul class="dropdown-menu">
				    				<!--<li><a href="#">QuickStart</a></li>-->
				    				<li><a href="https://github.com/kaosat-dev/CoffeeSCad/wiki" target="_blank">Wiki</a></li>
                    				<li><a href="#">Video Tutorials (N/A yet)</a></li>
				    			</ul>
				    		</li>
				    		<li class="dropdown-submenu">
				    			<a href="#">Contact</a>
				    			<ul class="dropdown-menu">
                    				<li><a href="#">Google+</a></li>
                    				<li><a href="https://github.com/kaosat-dev/CoffeeSCad" target="_blank">Github</a></li>
				    			</ul>
				    		</li>
                     		<li><a href="#"><i class="icon-bullhorn"></i>About CoffeeSCad</a></li>
                     	</ul>
                     </li>
                      <li id="undoBtn" class="undo"> 
                      	<a href="#" rel="tooltip" title="Undo (CTRL+Z)"><i class="icon-undo "></i></a>
                      <li id="redoBtn" class="redo">
                      	<a href="#" rel="tooltip" title="Redo (CTRL+Y)"><i class="icon-repeat "></i></a>
                     </li>
                     <li>
                     	<a id="updateBtn" class="disabled parseCSG" href="#" rel="tooltip" title="Update view" ><i class="icon-refresh"></i></a>
                     </li>
                     <li class="hide">
                     	<a id="abortBtn" href="#" rel="tooltip" title="Abort"><i class="icon-remove"></i></a>
                     </li>
                    </ul>
                    
                    <ul class="nav pull-right">
                      <li class="divider-vertical"></li>
                      <li>
                      	<a href="#" rel="tooltip" title="Fork me on GitHub!"><i class="icon-github"></i></a>
					  </li> 
                    </ul>
                  </div>
       	</div>	
	</div>
</script>
