<script id="contextMenuTmpl" type="text/x-underscore-template">
	<div class="objectCreatorWrapper">
		<ul>
		    <li ><a tabindex="-1" href="#" class="shapeCreate" id="shapeCreate">Cube</a></li>
		    <li ><a tabindex="-1" href="#" class="shapeCreate" >Sphere</a></li>
		    <li ><a tabindex="-1" href="#" class="shapeCreate" >Cylinder</a></li>
		    <li class="divider"></li>
		    <li><a tabindex="-1" href="#">Add some other thing</a></li>
		</ul>
	</div>
</script>