<script id="3dViewTmpl" type="text/x-underscore-template">
	<div id="glArea"  > </div>
	
	<div id="overLaySpacer" style="float:left; height: 500px;width:100%"></div>
	<div id="glOverlay"></div>
	
	<!--Experimental, for bounding box overlay-->
	<div id="testOverlay" style="border: 1px red; width:5px;height:5px;position: absolute;background-color: black"></div>
	<div id="testOverlay2" style="border: 1px red; width:auto;height:auto;position: absolute;background-color: rgb(255, 194, 0);font-size: 20px"></div>
	
	<!--
	<div id="dropOverlay" class="circle hide" style="position: absolute;top:350px; left: 350px">
		<span>Drop Me</span>
	
	</div>-->
	<!--	<div id="overlay" class="pull-right"> -->
		<!-- class="navbar  active"  style="float: left;" 
		<a href="#" rel="tooltip" title="show/hide grid" class="toggleGrid uicons"><i class="icon-table icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="show/hide axes" class="toggleAxes uicons"><i class="icon-plus icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="toggle shadows" class="toggleShadows uicons"><i class="icon-adjust icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="toggle anti aliasing" class="toggleAA uicons"><i class="icon-barcode icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="auto update view <b>on script change</b> <br\>(can get slow for complex scripts)" class="toggleAutoUpdate uicons"><i class="icon-time icon-large"></i></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" rel="tooltip" title="view settings" class="viewSettings uicons"><i class="icon-eye-open icon-large"></i></a>
		
	</div>-->
	
	
	<script>
	/*Just tinkering:
	 * top: 500px; left: 900px
	 *See:  https://github.com/mrdoob/three.js/issues/634 for canvas over/underlays*/
	</script>

</script>