<script id="mainMenuTmpl" type="text/x-underscore-template">
	<div  class="navbar navbar-fixed-top">
		<div class="navbar-inner" >
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
			     <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li >
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project
                      		<b class="caret"></b>
                      	</a>
                      	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    		<li id ="newFileBtn" class="dropdown-submenu">
				    			<a tabindex="-1" href="#"><i class="icon-fixed-width icon-file"></i>New</a>
				    			<ul class="dropdown-menu">
				    				<li class="newProject"><a tabindex="-1" href="#">Project</a></li>
				    			</ul>
				    		</li>
                      		<li id ="saveFileBtn" class="saveProject"><a tabindex="-1" href="#"><i class="icon-fixed-width icon-save"></i>Save</a></li>
				    			<li id ="saveFileAsBtn" class="saveProjectAs"><a tabindex="-1" href="#"><i class="icon-fixed-width icon-save"></i>Save As</a></li>
				    			<li id ="loadFileBtn" class="loadProject"><a tabindex="-1" href="#"><i class="icon-fixed-width icon-folder-open"></i>Load</a></li>
				    			<li class="divider"></li>
				    			<!--<li id ="browseProjectsBtn" class="browseProjects"><a tabindex="-1" href="#"><i class="icon-list"></i>Explore</a></li>
				    			<li class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-file"></i>Recent</a>
				    				<ul id="recentProjects" class="dropdown-menu"></ul>
				    			</li>-->
				    			<li class="dropdown-submenu" id="examples">
				    				<a tabindex="-1" href="#"><i class="icon-fixed-width icon-list-ul"></i>Examples</a>
				    			</li>
		                        <li class="divider"></li>
		                        <li id ="importBtn" class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-fixed-width icon-download-alt"></i>Import</a>
				    				<ul class="dropdown-menu">
                    					<li><a href="#" class="btn disabled"><i class="icon-fixed-width icon-download disabled"></i> Openscad</a></li>
				    				</ul>
				    			</li>
		                        <li id ="exportBtn" class="dropdown-submenu">
				    				<a tabindex="-1" href="#"><i class="icon-fixed-width icon-upload-alt"></i>Export</a>
				    				<ul id="exporters" class="dropdown-menu"></ul>
				    			</li>
                      	</ul>
                      </li>
                     <!--
                     <li class="dropdown">
                     	<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Edit">
                     	Edit
                     	<b class="caret"></b>
                     	</a>
                     	<ul class="dropdown-menu">
                     		<li><a href="#"><i class="icon-undo"></i>Undo</a></li>
                     		<li><a href="#"><i class="icon-repeat"></i>Undo</a></li>
                     	</ul>
                     </li>-->
                     <!--
                     <li class="dropdown">
                     	<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Tools">
                     	Tools
                     	<b class="caret"></b>
                     	</a>
                     	<ul class="dropdown-menu">
                     		<li class="geometryCreator"><a href="#"><i class="icon-magic"></i>Geometry Creator</a></li>
                     	</ul>
                     </li>-->
                     <li>
                   		<a class="settings" href="#" rel="tooltip" title="Settings">Settings</a>
                     </li>
                     <li class="dropdown">
                     	<a href="#" class="dropdown-toggle" data-toggle="dropdown"  rel="tooltip" title="Help">
                     		Help
                      		<b class="caret"></b>
                      	</a>
                     	<ul class="dropdown-menu" >
                     		<li class="dropdown-submenu">
				    			<a href="#">Learning</a>
				    			<ul class="dropdown-menu">
				    				<!--<li><a href="#">QuickStart</a></li>-->
				    				<li><a href="https://github.com/kaosat-dev/CoffeeSCad/wiki" target="_blank">Wiki</a></li>
                    				<li><a href="#">Video Tutorials (N/A yet)</a></li>
				    			</ul>
				    		</li>
				    		<li class="dropdown-submenu">
				    			<a href="#">Contact</a>
				    			<ul class="dropdown-menu">
                    				<li>
										<a href="//plus.google.com/117965920069380418940?prsrc=3" rel="publisher" style="text-decoration:none;" target="_blank">
										Follow Coffeescad on <img src="assets/img/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
									</li>
                    				<li><a href="https://github.com/kaosat-dev/CoffeeSCad" target="_blank">Github</a></li>
				    			</ul>
				    		</li>
                     		<li class="about"><a href="#"><i class="icon-fixed-width icon-bullhorn"></i>About CoffeeSCad</a></li>
                     	</ul>
                     </li>
                      <li id="undoBtn" class="undo"> 
                      	<a href="#" rel="tooltip" title="Undo (CTRL+Z)"><i class="icon-fixed-width icon-undo "></i></a>
                      <li id="redoBtn" class="redo">
                      	<a href="#" rel="tooltip" title="Redo (CTRL+Y)"><i class="icon-fixed-width icon-repeat "></i></a>
                     </li>
                     <li>
                     	<a id="compileBtn" class="disabled compileProject" href="#" rel="tooltip" title="Compile and render project" ><i class="icon-fixed-width icon-bolt"></i></a>
                     </li>
                     <li class="hide">
                     	<a id="abortBtn" href="#" rel="tooltip" title="Abort"><i class="icon-fixed-width icon-remove"></i></a>
                     </li>
                     <li class="divider-vertical" id="editorsMarker"></li>
                    </ul>
                    
                    <ul class="nav pull-right">
                    	<!--
                    	<li class="dropdown">
                    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Language">
                    		Language
                    		<b class="caret"></b>
                    		</a>
                    		<ul id="languages" class="dropdown-menu">
                    			<li><a tabindex="-1" href="#" data-value="EN_EN">English</a></li>
                    			<li><a tabindex="-1" href="#" data-value="DE_DE">German</a></li>
                    			<li><a tabindex="-1" href="#" data-value="NL_NL">Dutch</a></li>
                     		</ul>
                    	</li>-->
                      <li class="divider-vertical"></li>
                      <li class="notifications top-left"></li>
                      <li class="dropdown">
                     	<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Login">
                     	Login
                     	<b class="caret"></b>
                     	</a>
                     	<ul id="stores" class="dropdown-menu">
                     	</ul>
                     </li>
                      <li>
                      	<a href="https://github.com/kaosat-dev/CoffeeSCad" rel="tooltip" title="Fork me on GitHub!" target="_blank"><i class="icon-github"></i></a>
					  </li> 
                    </ul>
                  </div>
       	</div>	
	</div>
</script>

<script id="recentFileTmpl" type="text/x-underscore-template">
	<a tabindex='-1' href='#' class="loadFileDirect"><i class="icon-file"></i><%= name %></a>
</script>
