<script id="alertTmpl" type="text/x-underscore-template">
	<div class="alert alert-block alert-info fade in">
        <p>The file FILE already exists , do you want to overwrite it? </p>
        <p>
          <a class="btn" href="#" data-dismiss="modal">Ok</a> <a class="btn" href="#">Cancel</a>
        </p>
    </div>
</script>
