<script id="testcodeViewTmpl" type="text/x-underscore-template">
   <div id="editor" class="span6 hide" >
    	<div>
	   		<span><b> Name</b> </span> <span><%= name %></span><br>
	   		<span><b> Ext</b> </span> <span><%= ext %></span><br>
	   		 I think that <%= showMessage() %>
		</div>
    
   		<textarea id="codeArea2" class="field span12" rows="6" >
   			<%= content %>
   		</textarea>
   </div>
   <div id="viewer" class="span6"></div>
</script>
