<script id="testcodeViewTmpl" type="text/x-underscore-template">
   <span>Name</span> <span><%= name %></span><br>
   <span>Ext</span> <span><%= ext %></span><br>
   <span>Code</span> <span><%= content %></span><br>
  
</script>
