<script id="testcodeViewTmpl" type="text/x-underscore-template">
   <div id="editor" class="span6 hide" >
   		<textarea id="codeArea2" class="field span12" rows="6" ><%= content %></textarea>
   </div>
   <div id="viewer" class="span6"></div>
</script>
