<script id="loadFileTmpl" type="text/x-underscore-template">
	<div class="modal-header">
	      <h3 id="myModalLabel">Load File</h3>
	    </div>
	    Files:
	    <div class="modal-body">
	    	<ul id="fileLoadModalFileList"></ul>
	     <input type="text" name="some_name" value="MyProject" id="projectFileName"/><br>
	    </div>
	    <div class="modal-footer">
	      <button class="btn" data-dismiss="modal">Close</button>
	      <button class="btn btn-primary loadFile">Load</button>
	 </div>
</script>