<script id="mainContentTmpl" type="text/x-underscore-template">

	<!--<div id="edit"	class="span6 ">Edit</div>-->
	<div id="gl"	class="span12">View</div>
	
	<!--
	<div class="simple">
		<div id="edit"	class="span6"></div>
		<div id="gl"	class="span6">View</div>
	</div>-->
</script>