<script id="settingsTmpl" type="text/x-underscore-template">
	    <div class="modal-header">
	      <h3 id="myModalLabel">Settings</h3>
	      TODO: add edit of all this
	    </div>
	    <div class="modal-body">
	    	<h4>GitHub Gist integration</h4>
	    		<button id="gitHubLogin" class="btn btn-primary">Login</button>
	    </div>
	    <ul id="settings"></ul>
	    <div class="modal-footer">
	      <button class="btn" data-dismiss="modal">Close</button>
	      <button class="btn btn-primary" data-dismiss="modal">Save</button>
	    </div>
  	</div>
  	<div>
</script>
