<script id="singleFileTmpl" type="text/x-underscore-template">
	<td>
		<a tabindex='-1' href='#' class="loadFile"><%= name %></a>
	</td>
	<td>
		<a href="#" class="deleteFile" rel="tooltip" title="Delete Project"> <i class="icon-remove"></i></a> 
	</td>
	
</script>