<script id="dummyTmpl" type="text/x-underscore-template">
	<div >
		<b>Name:</b> <%= name %>
		<b>Extension:</b> <%= ext %>
		<b>Content:</b> <%= content %>
		<br />
		<input type="button" value="Toto" class="doSomething">
	</div>
</script>