<script id="settingsTmpl" type="text/x-underscore-template">
	<div class="modal-header">
		<h3 id="myModalLabel"><i class="icon-cogs icon-large"></i> Settings</h3>
	</div>
	<div class="modal-body">
		<div id="tabHeaders">
		</div>
		<div id="tabContent">
		</div>
	</div>
	<div class="modal-footer">
		<!--<button class="btn applySettings pull-left">Reset all</button>-->
		<button class="btn applySettings">Apply</button>
		<button class="btn" data-dismiss="modal">Close</button>
		<button class="btn btn-primary applySettings" data-dismiss="modal">Save</button>
	</div>
</script>
